.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-task-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 300px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 600px;

    border: 1px solid black;
    border-radius: 16px; 
}

#edit-todo-button,
#resave-todo-button{
    border: 1px solid black;
    border-radius: 10px;

    width: 100px;
    padding: 2px;

}

#edit-todo-input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;

}


